<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Colegio Patria
	</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body class="container">
    <center>
        <div class="p-3 text-primary-emphasis border border-primary-subtle rounded-3" style="background-color: darkkhaki;">
            <h1>
                Colegio Patria
                <br>
                <img src="https://humanidades.com/wp-content/uploads/2017/05/bandera-de-mexico-e1567990911570-800x400.jpg" alt="Imagen" style="width: 200px; margin: 20px;">
            </h1>
            <h2>
                Pago de nómina
            </h2>
        </div>
    </center>