<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section style="display: grid; align-items: center; justify-content: center; border: solid gainsboro;">
    <div id="formulario" style="margin: 20px; padding: 10px; border-radius: 10px; width: 400px;">
        <form action="/" method="post">
            <div class="form-group">
                <label for="recibo">Número del docente: </label>
                <input class="form-control" type="number" name="recibo" id="recibo" required>
            </div>
            <br>
            <div class="form-group">
                <label for="nombre">Nombre: </label>
                <input class="form-control" type="text" name="nombre" id="nombre" required value=<%=nombre%>>
            </div>
            <br>
            <div class="form-group">
                <label for="domicilio">Domicilio: </label>
                <input class="form-control" type="text" name="domicilio" id="domicilio" required> 
            </div>
            <br>
            <div class="form-group">
                <label for="lvl">Nivel: </label>
                <select class="form-control" name="lvl" id="lvl" required value=<%=lvl%>>
                    <option value=1.30>Licenciatura o Ingeniería</option>
                    <option value=1.50>Maestro en Ciencias</option>
                    <option value=2>Doctor</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="pagoBase">Pago base por hora impartida: </label>
                <input class="form-control" type="number" name="pagoBase" id="pagoBase" required value=<%=pagoBase%>>
            </div>
            <br>
            <div class="form-group">
                <label for="horas">Horas impartidas: </label>
                <input class="form-control" type="number" name="horas" id="horas" required value=<%=horas%>>
            </div>
            <br>
            <div class="form-group">
                <label for="cantidadHijos">Cantidad de hijos: </label>
                <select class="form-control" name="cantidadHijos" id="cantidadHijos" required value=<%=cantidadHijos%>>
                    <option value=0>Ninguno</option>
                    <option value=0.05>1 a 2 hijos</option>
                    <option value=0.1>3 a 5 hijos</option>
                    <option value=0.2>más de 5 hijos</option>
                </select>
            </div>
            <br>
            <center>
                <button class="btn btn-primary" type="submit">Calcular</button>
                <button class="btn btn-secondary" type="reset">Limpiar</button>
            </center>
        </form>
    </div>
</section>
<%-include('partials/footer.ejs')%>