<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<%
    pagoHoras = horas * pagoBase * lvl;
    impuesto = pagoHoras * 0.16;
    bonus = pagoHoras * cantidadHijos;
    total = pagoHoras - impuesto + bonus;
%>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr style="text-align:center;">
                <th scope="col">Detalles del pago</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            <tr>
                <td>Pago por horas impartidas: $<%=pagoHoras%></td>
            </tr>
            <tr>
                <td>Pago por Bono: +$<%=bonus%></td>
            </tr>
            <tr>
                <td>Impuestos: -$<%=impuesto%></td>
            </tr>
            <tr>
                <td>Total a pagar: $<%=total%></td>
            </tr>
        </tbody>
    </table>
</section>
<%-include('partials/footer.ejs')%>